*, *:before, *:after {
    box-sizing: border-box;
}
.container{
    width: 56rem;
    margin: 3rem auto;
}
.header{
    border-bottom: 1px dotted #af4747;
    width: 25rem;
    margin-bottom: 4rem;
    header 
    {
		position: sticky;
  		top: -15px;
		padding-top: 15px;
		opacity: 1;
		Background-color: white;
}

}
section{
    margin-bottom: 3rem;
}

body{
    background-color: rgb(196, 184, 167);
}
p{
  font-family: "Times New Roman";
  font-size: 1.2rem;
  color: rgb(43, 47, 49);
}
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.986rem;
    font-size: clamp(2.986rem, 0.9716161616161618rem + 5.301010101010101vw, 5.61rem);
    color: rgb(34, 34, 30);
}
h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.488rem;
    font-size: clamp(2.488rem, 1.1668282828282828rem + 3.4767676767676767vw, 4.209rem);
    color: rgb(41, 39, 37);
}
h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.074rem;
    font-size: clamp(2.074rem, 1.2426060606060603rem + 2.1878787878787884vw, 3.157rem);
    color: rgb(41, 39, 37);
}
h4{
     font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.728rem;
    font-size: clamp(1.728rem, 1.2359191919191916rem + 1.2949494949494955vw, 2.369rem);
    color: rgb(41, 39, 37);
}
a:link{
    color: rgb(17, 15, 15);
}
a:visited{
    color:black;
}
hr{
    border: 0;
    width: 90%;
    color: green;
    background-color: aquamarine;
    height: 5px;
}
th{
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    border: 1px solid rgb(9, 9, 10);
}
td{
    color:rgb(8, 8, 8);
    font-size: 1.1rem;
    border: 1px solid rgb(8, 8, 8);
}
/* Ayman helped check my webpage */